.navbar {
  background-color: rgb(153, 3, 153);
  width: 100%;
}

.navbar li {
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  padding: 10px;
  text-align: center;
}
